body {
    background-color: #2A2C2F;
    font-family: "Inter", sans-serif;
    color: #ffffff;
}

.page {
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.lead__logo {
    display: flex;
    max-width: 254px;
    height: 70px;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
}

.lead {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 984px;
    align-items: center;
}

.lead__title {
    max-width: 720px;
    margin-top: 90px;
    font-weight: 900;
    font-style: normal;
    font-size: 94px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 0%;
    margin-bottom: 0;
}

.lead__subtitle {
    max-width: 720px;
    margin-bottom: 0;
    margin-top: 32px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0%;
}

.lead__image {
    margin-top: 80px;
}

.intro {
    flex-direction: column;
    padding-left: 148px;
}

.intro-title {
    margin-top: 92px;
    margin-bottom: 0;
    max-width: 830px;
    font-weight: 900;
    line-height: 58px;
    font-size: 54px;
    letter-spacing: 0%;

}

.intro-description {
    margin-top: 40px;
    max-width: 738px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0%;
    display: flex;
}

.intro-paragraph {
    margin-top: 32px;
    max-width: 722px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0%;

}

.intro-name {
    margin-top: 10px;
    max-width: 732px;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0%;
    display: flex;
    justify-content: flex-end;
}

.footer-copyright {
    margin-top: 92px;
    width: 100%;
    font-size: 400;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: center;

}


@media (max-width: 768px) {
    .lead__logo {
        display: flex;
        max-width: 254px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .lead__title {
        max-width: 530px;
        font-weight: 900;
        font-size: 75px;
        line-height: 79px;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 90px;
    }

    .lead__subtitle {
        max-width: 720px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 25px;
    }

    .lead__image {
        max-width: 768px;
        margin-top: 30px;
    }

    .intro-title {
        max-width: 707px;
        font-weight: 900;
        font-size: 45px;
        line-height: 49px;
        letter-spacing: 0%;
        margin-top: 90px;
    }

    .intro-description {
        max-width: 702px;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        letter-spacing: 0%;
        margin-top: 50px;
    }

    .intro-name {
        max-width: 720px;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        letter-spacing: 0%;
        margin-top: 26px;
    }

    .intro-paragraph {
        max-width: 720px;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        letter-spacing: 0%;
        margin-top: 32px;
    }

    .lead__footer-name {
        max-width: 166px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: right;
        margin-top: 88px;
    }
}

@media (max-width: 320px) {
    .lead__logo {
        display: flex;
        max-width: 188px;
        margin-top: 22px;
        margin-left: auto;
        margin-right: auto;
    }

    .lead__title {
        max-width: 228px;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 50px;

    }

    .lead__subtitle {
        max-width: 288px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 16px;
    }

    .lead__image {
        max-width: 320px;
       margin-top: 40px;

    }

    .intro-title {
        max-width: 288px;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        letter-spacing: 0%;
        margin-top: 64px;
    }

    .intro-description {
        max-width: 288px;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0%;
        margin-top: 40px;
    }

    .intro-name {
        max-width: 288px;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        text-align: right;
        letter-spacing: 0%;
        margin-top: 10px;
    }

    .intro-paragraph {
        max-width: 288px;
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        letter-spacing: 0%;
        margin-top: 32px;
    }

    .lead__footer-name {
        max-width: 166px;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0%;
        margin-top: 64px;
    }
}