.header__logo {
    display: flex;
    max-width: 254px;
    height: 70px;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:788px) {
     .header__logo {
        max-width: 254px;
        margin-top: 30px;
    }
}

@media (max-width:320px) {
     .header__logo {
        max-width: 188px;
        margin-top: 22px;
     }
}