.intro {
    flex-direction: column;
    max-width: 984px;
    margin: 0 auto;
}

.intro__title {
    margin-top: 92px;
    margin-bottom: 0;
    max-width: 830px;
    font-weight: 900;
    line-height: 58px;
    font-size: 54px;
    letter-spacing: 0%;

}

.intro__description {
    margin-top: 40px;
    max-width: 738px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0%;
    display: flex;
}

.intro__paragraph {
    margin-top: 32px;
    max-width: 722px;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0%;

}

.intro__name {
    margin-top: 10px;
    max-width: 732px;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .intro__title {
        font-size: 45px;
        line-height: 49px;
        margin-top: 90px;
    }

    .intro__description {
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        margin-top: 50px;
    }

    .intro__name {
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        margin-top: 26px;
    }

    .intro__paragraph {
        font-size: 16px;
        line-height: 163%;
        margin-top: 32px;
    }
}

@media (max-width: 320px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        margin-top: 64px;
    }

    .intro__description {
        font-size: 24px;
        line-height: 30px;
        margin-top: 40px;
    }

    .intro__name {
        font-size: 24px;
        line-height: 34px;
        text-align: right;
        margin-top: 10px;
    }

    .intro__paragraph {
        font-size: 16px;
        line-height: 163%;
        margin-top: 32px;
    }
}

