.photo {
display: grid;
gap: 16px;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr) ;
max-width: 1184px;
margin: 0 auto;
margin-top: 118px;
}

.photo__grid {
max-width: 284px;

}


@media (max-width:1024px) {
.photo {
gap: 16px;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 1fr) ;
margin-top: 64px;
margin: 0 auto;
}

.photo__grid {
width: 100%;
}
}

@media (max-width:544px) {
 .photo {
gap: 12px;
grid-template-columns: 1fr;
grid-template-rows: repeat(8, 1fr) ;
margin-top: 38px;
}

.photo__grid {
width: 100%;
margin: 0 auto;
}
}
    
