.photo__grid {
display: grid;
gap: 16px;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr) ;
max-width: 1184px;
margin: 0 auto;
margin-top: 118px;
}

.photo__grid-image {
max-width: 284px;

}


@media (max-width:788px) {
.photo__grid {
display: grid;
gap: 16px;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 1fr) ;
max-width: 720px;
margin: 0 auto;
margin-top: 64px;
}

.photo__grid-image {
max-width: 352px;
}
}

@media (max-width:320px) {
    .photo__grid {
display: grid;
gap: 12px;
grid-template-columns: 1, 1fr;
grid-template-rows: repeat(8, 1fr) ;
max-width: 288px;
margin: 0 auto;
margin-top: 38px;
}

.photo__grid-image {
max-width: 288px;
}
}
    
