.place__card {
    display: grid;
    
}

.place__card-title {
    max-width: 460px;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0%;
}

.place__card-image {
    max-width: 460px;
    
}