.place {
    display: grid;
    max-width: 984px;
    margin: 0 auto;
    margin-top: 92px;
    gap: 80px;
}

.place__card {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: auto 460px auto auto;
    grid-template-areas:
        "title   artists"
        "image   paragraphs"
        "button   paragraphs"
        ".  paragraphs"
    ;
    column-gap: 40px;
    row-gap: 48px;
}

.place__card-title {
    max-width: 460px;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0%;
    grid-area: title;
    margin: 0;
    align-self: flex-end;
}

.place__card-image {
    width: 100%;
    grid-area: image;
    height: 460px;
    opacity: 1;
}

.place__card-image:hover {
    opacity: 0.5;
}

.place__card-artists {
    grid-area: artists;
 align-self: flex-end;
}

.place__card-heading {
    max-width: 85.17px;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 12%;
    margin: 0;
}

.place__card-artist {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
}

.place__card-paragraphs {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.place__card-paragraph {
    max-width: 484px;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    letter-spacing: 0%;
    grid-area: paragraphs;
    margin: 0;
}

.place__card-button {
    grid-area: button;
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    box-shadow: 5px 5px 10px 0px #00000040;
    background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
    color: #ffffff;
    padding: 13px 20px;
    justify-self: flex-start;
}

.place__card-button:hover {
    box-shadow: 5px 5px 10px 0px #00000040;
    background: linear-gradient(90deg, rgba(2, 120, 254, 0.25) 0%, rgba(0, 58, 123, 0.25) 99.98%);
}

@media (max-width: 1024px) {
    .place {
    margin-top: 88px;
    gap: 72px;
}

.place__card {
    grid-template-columns: 340px 1fr;
    grid-template-rows: auto 340px auto auto;
    grid-template-areas:
        "title   artists"
        "image   paragraphs"
        "button   paragraphs"
        ".  paragraphs"
    ;
    column-gap: 28px;
    row-gap: 48px;
}

.place__card-title {
    max-width: 340px;
    font-size: 42px;
    font-weight: 900;
    line-height: 46px;
    letter-spacing: 0%;
    grid-area: title;
    margin: 0;
    align-self: flex-end;
}

.place__card-image {
    max-width: 340px;
    width: 100%;
    grid-area: image;
    height: 340px;
    opacity: 1;
}

.place__card-image:hover {
    opacity: 0.5;
}

.place__card-artists {
    grid-area: artists;
 align-self: flex-end;
}

.place__card-heading {
    max-width: 67px;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 12%;
    margin: 0;
}

.place__card-artist {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
}

.place__card-paragraphs {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.place__card-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0%;
    grid-area: paragraphs;
    margin: 0;
}

.place__card-button {
    grid-area: button;
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    box-shadow: 5px 5px 10px 0px #00000040;
    background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
    color: #ffffff;
    padding: 13px 20px;
    justify-self: flex-start;
}

.place__card-button:hover {
    box-shadow: 5px 5px 10px 0px #00000040;
    background: linear-gradient(90deg, rgba(2, 120, 254, 0.25) 0%, rgba(0, 58, 123, 0.25) 99.98%);
}
}

@media (max-width:544px) {
     .place {
    margin-top: 62px;
    gap: 50px;
}

.place__card {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 320px auto auto auto;
    grid-template-areas:
        "title"
        "artists"
        "image "
        "paragraphs"
        "paragraphs"
        "button"
    ;
    column-gap: 30px;
}

.place__card-title {
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    letter-spacing: 0%;
    grid-area: title;
    margin: 0;
    align-self: flex-end;
    
}

.place__card-image {
    max-width: 320px;
    width: 100%;
    grid-area: image;
    height: 320px;
    opacity: 1;
    margin: 0 auto;
}

.place__card-image:hover {
    opacity: 0.5;
}

.place__card-artists {
    grid-area: artists;
 align-self: flex-end;
}

.place__card-heading {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 12%;
    margin: 0;
}

.place__card-artist {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
}

.place__card-paragraphs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.place__card-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0%;
    grid-area: paragraphs;
    margin: 0;
}

.place__card-button {
    grid-area: button;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    box-shadow: 5px 5px 10px 0px #00000040;
    background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
    color: #ffffff;
    padding: 13px 20px;
    justify-self: flex-start; 
}

.place__card-button:hover {
    box-shadow: 5px 5px 10px 0px #00000040;
    background: linear-gradient(90deg, rgba(2, 120, 254, 0.25) 0%, rgba(0, 58, 123, 0.25) 99.98%);
    
}
}